{% extends "base_weave.html" %}
{% block extrahead %}
{% include "weave/weave_javascripts.inc.html" %}
<script type="text/javascript">
    swfobject.registerObject("weave", "6.0.0");
</script>
{% endblock %}
{% comment %}
{% block navi_secondary %}{% endblock %}
{% endcomment %}
{% block content %}
    <!-- start #weave -->
    <div class="grid_12 alpha omega">
      <div id="weave_container">
        <!-- The WEAVE Flash element goes in place of this image -->
        <!-- It must be 780px wide maximum -->
        {% with 940 as width %}
        {% with 600 as height %}
        {% include "weave/swfobject_weave.html" %}
        {% endwith %}
        {% endwith %}
      </div>
      <div id="weave_key">
        <p id="weave_key_label">Data Key:</p>
        <img src="{{ MEDIA_URL }}images/icons/icon_high_school.jpg"
             alt="High School icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_middle_school.jpg"
             alt="Middle School icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_elementary_school.jpg"
             alt="Elementary School icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_ride.jpg"
             alt="RIDE icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_tpp.jpg"
             alt="ProvPlan icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_census.jpg"
             alt="Census icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_dcyf.jpg"
             alt="DCYF icon" />
        <img src="{{ MEDIA_URL }}images/icons/icon_doh.jpg"
             alt="RI Department of Health icon" />
      </div>
    </div>
    <!-- end #weave -->
    
{% endblock %}
